<b>Verwaltung</b>
  <p>Bitte wähle eine der folgenden Funktionen:</p>
<p>
  <button class="btn btn-primary" routerLink="/verwaltung/produkt-verwaltung">Artikel</button>
  <button class="btn btn-primary" routerLink="/verwaltung/benutzer-verwaltung">Benutzer</button>
  <button class="btn btn-primary" routerLink="/verwaltung/bestellungen-verwaltung">Bestellungen</button>
  <button class="btn btn-primary" routerLink="/verwaltung/lager-verwaltung">Lager</button>
  <button class="btn btn-primary" routerLink="/verwaltung/abrechnung-verwaltung">Abrechnung</button>
</p>
