/* You can add global styles to this file, and also import other style files */

/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css"; */


html, body
{
    margin: 0;
    padding: 0;
}

.verwaltung-eintrag
{
  margin: 10px 0;
  background: #f3f3f3;
  padding: 5px;
}

.border-left
{
  border-left-style: solid;
  border-left-width: 2em;
}
